/*-----------------------Variables----------------------*/
:root {

}

/*------------------------Fonts-------------------------*/

@font-face {
    font-family: 'Helvetica Neue Local', sans-serif;
    src: url('../assets/fonts/HelveticaNeue.ttc') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/*------------------------General------------------------*/

* {
    font-family: "Helvetica Neue Local", sans-serif;
    text-transform: uppercase;
    margin: 0;
}

body {
    background-color: #f0f0f0;
    font-size: 0.8em;
}

/*------------------------Footer-------------------------*/

div.footer:nth-child(6) {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
    align-content: center;
}

div.footer p {
    text-align: center;
    font-size: 1em;
}