/*-------------------------General-----------------------------*/


/*-------------------------Flexbox-----------------------------*/

div.parent {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
    justify-content: stretch;
    text-align: center;
    height: 100vh;
}

div.title:nth-child(1) {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
    align-content: center;
}

div.top5:nth-child(2) {
    display: block;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
    align-content: center;
}

div.username:nth-child(3) {
    display: block;
    flex-grow: 0.5;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
    align-content: center;
}

div.decorations:nth-child(4) {
    display: block;
    flex-grow: 0.2;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
    align-content: center;
}

div.startButton:nth-child(5) {
    display: block;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
    align-content: center;
}

div.footer:nth-child(6) {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
    align-content: center;
}

/*--------------------------Title-------------------------------*/

div.title h1 {
    font-size: 2em;
    font-weight: 600;

}

/*--------------------------Top 5------------------------------*/

div.top5 {}

div.top5 li {
    font-weight: bold;
    align-items: center;
}

/*-------------------------Username----------------------------*/

div.username {}

/*------------------------Decorations--------------------------*/

div.decorations {}

/*------------------------Start Button-------------------------*/

div.startButton a{
    text-decoration: none;
    color: black;
}

div.startButton button {
    width: 40vh;
    height: 20vh;
    border-radius: 10px;
    background-color: blueviolet;}

/*---------------------------Footer---------------------------*/


/*------------------------Media Query-------------------------*/

/* Desktop of groter */
@media screen and (min-width: 1024px) {

    /*---------------------General----------------------*/
    div.parent {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(7, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }
    div.title { grid-area: 1 / 1 / 2 / 3; }
    div.top5 { grid-area: 2 / 2 / 6 / 3; }
    div.username { grid-area: 2 / 1 / 4 / 2; }
    div.decorations { grid-area: 4 / 1 / 6 / 2; }
    div.startButton { grid-area: 6 / 1 / 7 / 3; }
    div.footer { grid-area: 7 / 1 / 8 / 3; }

    /*-----------------------Title----------------------*/

    /*---------------------Username---------------------*/

    /*--------------------Decorations-------------------*/

    /*--------------------Start Button------------------*/

    /*----------------------Footer----------------------*/

}
